---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_o&format=json&method=flickr.photos.search&nojsoncallback=1&text=denver,co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":3,"perpage":100,"total":"281","photo":[{"id":"33823599548","owner":"35390579@N04","secret":"eee1c4fc2a","server":"65535","farm":66,"title":"Day115_2019","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/live.staticflickr.com\/65535\/33823599548_94b25d982b_o.jpg","height_o":"666","width_o":"2000"},{"id":"46374171684","owner":"56683178@N06","secret":"43657512eb","server":"7813","farm":8,"title":"Denver
        Union Station  Trackside View June, 1998","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/live.staticflickr.com\/7813\/46374171684_17e88e104a_o.jpg","height_o":"4074","width_o":"6063"},{"id":"31486905318","owner":"66898813@N06","secret":"e0a3d94042","server":"1901","farm":2,"title":"Denver,
        CO | 2018.10.16 | RTD Rail by the Blue Bear","ispublic":1,"isfriend"[...]
