---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_o&format=json&method=flickr.photos.search&nojsoncallback=1&text=denver%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":100,"perpage":100,"total":"9994","photo":[{"id":"48417962317","owner":"35946983@N00","secret":"91af1a6308","server":"65535","farm":66,"title":"Denver
        skyline","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/live.staticflickr.com\/65535\/48417962317_c1841a6868_o.jpg","height_o":"3599","width_o":"6016"},{"id":"48417960682","owner":"35946983@N00","secret":"694bf48cce","server":"65535","farm":66,"title":"Denver
        skyline","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/live.staticflickr.com\/65535\/48417960682_e2ce28b398_o.jpg","height_o":"2340","width_o":"4160"},{"id":"48333817446","owner":"54515111@N00","secret":"690a3bf439","server":"65535","farm":66,"title":"Bison
        at Rocky Mountain Arsenal","ispublic":1,"isfriend":0,"isfamily":0,"url_o":"https:\/\/live.staticfl[...]
